* {
  color: #707070;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bbbanner {
  background-image: url("../homepageIMG/bannerIMGs/babyBanner.png") ;
  height:420px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  position: relative;
  align-items: center;
  
}

.text7 {
  display: flex;
  flex-direction: column;
  width: 35%;
 padding: 30px 200px 100px; 
 position:absolute;
 

}
.text7 h1 {
  font-size: 50px;
  line-height: 100%;
  font-weight: 700;
}
.text7 p {
  font-size: 22px;
  font-family: "Open Sans";
}

.bannerButton {
display: flex;
flex-direction: row;
/* width: 100%; */
/* justify-items: right; */
right: 23%;
position: absolute;
bottom: 14%;

}


.subtext {
  height: 40px;
  width: 180px;
  position: absolute;
right:23%;
  bottom: 5%;
  object-position: bottom;

}

.buttonText {
  display: flex;
  flex-direction: column;
  /* flex-direction: row-reverse; */
}
/* 
@media screen and (max-width: 768px) {
  .text7, .buttonText {
    object-fit: none;
  }
} */