.bottomPromo {
    display: flex;
    justify-content: space-around;
    /* height: 490px;  */
    padding-top: 30px;
    padding-bottom: 30px;
}

.bottomPromoPic {
    flex:50%;
    height: 400px;
    width: 570px;
    position: relative;
    Left:15%;
}
.bottomPromoPic img {
    max-height: 85%;
    max-width: 100%;
    padding: 5px 0px;
}

.bottomPromoText {
    flex:50%;
    /* height: 340px;
    width: 560px; */
    position: relative;
    top: 20px;
    padding-left: 180px;
    padding-right: 180px;
}
.bottomPromoText h2 {
    font-size: 38px;
}
.bottomPromoText h3 {
    font-size: 27px;
    font-family: "Open Sans";
    font-weight: initial;
    color: #6c6c6c;
}
.bottomPromoText p {
    font-size: 18px;
    font-family: "Open Sans";
    padding-right: 140px;
}

.bottomPromoButtons {
    position: relative;
    top:70px;
   display: flex;
    justify-content: space-between;
     height: 20px;
    width: 400px;
}
.button5 {
    min-width: 165px;
    height: 36px;
    background-color: white;
    color: grey;
    border: 3.5px solid #43C0F6;
    border-radius: 9px;
    font-weight: 900;
    font-family: "Nunito";
}
.button6 {
    min-width: 165px;
    height: 36px;
font-weight: 800;
    color: white;
    background-color:#F91c85 ;
    border: 3.5px solid #F91c85;
    font-family: "Nunito";
    border-radius: 9px;
    border-width: 3.5px;
}

@media screen and (max-width:1000px)  and (orientation: portrait) {
     .bottomPromoText {
        flex-direction:row;
        position: relative;
        font-size: 50%;
    }  .bottomPromoPic {
        width: 80%;
    }
}

