.header5 {
    display: flex;
    flex-wrap: wrap;
    height: 55px;
    background: #43C0F6;

    position: relative;
}

.logo1 {
    position: absolute;
    left: 200px;
    top: 0px
}

.logoPic {
    width: 170px;
    align-items: left;
}

.middleButtons {
    font-size: 14px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    font-weight: 740;
    position: absolute;
    justify-items: center;
    left: 250px;
}

.middleButtons a {
    color: whitesmoke;
    justify-content: space-between;
    text-decoration: none;
    position: relative;
    left: 100%;
    top: 26px;
}


.avatar {
    position: absolute;
    right: 310px; 
    top:26px;
}
.flags1 {
    display: flex;
    cursor: pointer;
    position: absolute;
    margin-top: 0.5%;
    right: 170px;
    
}
.flags1 img {
    width: 20PX;
    height: 10px;
    margin-left: 4px;
    margin-right: 4px;
}
.lang {
    color: whitesmoke;
    font-size: 9px;
    padding-right: 10px;
    opacity: 85%;
}
.loginButtons {
    position: absolute;
    right: 160px;
    top: 28px;
}
.loginButtons p {
    color: whitesmoke;
    font-size: 14px;
    font-weight: 680;
}
