*{
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}


.mainContainer {
    max-height: 3300px;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    .mainContainer {
        max-width: 410px;
        max-height: auto;
    }
    
}